.chat {
    display: flex;
    margin-bottom: 1px;
}

.chat-input {
    resize: none;
    margin-top: 10px;
    width: 800px;
    height: 200px;
}

.chat-log {
    overflow: auto;
    width: 800px;
    height: 650px;
    margin-right: 1px;
}

.chat-online {
    overflow: auto;
    width: 200px;
    height: 650px;
    margin-right: 4px;
}

.chat-message {
    overflow: hidden;
}

.chat-message-in {
    display: inline-block;
    padding: 5px 5px 5px 10px;
    margin: 4px;
    vertical-align: top;
    width: 92%;
    border-radius: 7px;
    background-color: #ebedf0;
}


.chat-message-out {
    float: right;
    border: 1px solid lightblue;
    border-radius: 7px;
    padding: 5px 5px 5px 10px;
    margin: 4px;
    background-color: #bad6ff;
}

.chat-service-message {
    display: flex;
    vertical-align: top;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}

.chat-service-message p {
    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    margin: 5px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}