{% extends "base.html" %}
{% load static %}

{% block body %}
    <a href="?logout">Logout...</a><br>
    <div class="chat">
        <div class="chat-log img-thumbnail">

        </div>
        <div class="chat-online img-thumbnail">

        </div>
    </div>
    <textarea class="chat-input form-control" id="chat-message-input"></textarea><br/>
    <input class="btn btn-outline-primary" id="chat-message-submit" type="button" value="Send" style="width: 150px">
    <script src="{% static 'js/connect_ws.js' %}"></script>
    <div id="snackbar">"{MENTION}"</div>
{% endblock %}
